{% extends "base.html" %}


{% block content %}

    <h1>Hello World</h1>

    <button class="btn btn-primary">Boton</button>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, cupiditate earum eius, ipsam
                iure molestiae molestias nihil nobis officia provident quia veniam. Eligendi hic iste nihil officiis
                quas qui?
            </div>
        </div>
    </div>

{% endblock %}
