{% extends "base.html" %}

{% load mptt_tags %}

{% block content %}


    <div class="container-xxl">
        <div class="row">
            <div class="col">

            </div>
        </div>
        <div class="row">
            <div class="col-3 card">
                {% if categories %}
                    <p><b>Categorías</b></p>

                    {% if featured_categories %}
                        {% for featured_category in featured_categories %}
                            <a href="{% url 'category' featured_category.slug %}">{{ featured_category }}</a>
                        {% endfor %}
                        <hr>
                    {% endif %}


                    {% recursetree categories %}
                        <li>
                            <a href="{% url 'category' node.slug %}">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}

                {% endif %}

                <p><b>Filtros</b></p>

            </div>

            <div class="col-md-9">



                <div class="col-12">
                    {% if current_category %}
                        {% include 'shop/category.html' %}
                    {% else %}
                        {% include 'shop/index.html' %}
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}