{% extends "base.html" %}

{% load mptt_tags %}

{% block content %}


    <div class="container-xxl">
        <div class="row">
            <div class="col">
                <a href="{% url 'products' %}">Productos</a>
                {% if current_category.is_child_node %}
                    {% for crumb in current_category.get_ancestors %}
                        {% if forloop.last %}
                            / <a href="{% url 'category' crumb.slug %}">{{ crumb }}</a> / {{ current_category }}
                        {% else %}
                            / <a href="{% url 'category' crumb.slug %}">{{ crumb }}</a>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    / {{ current_category }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-3 card">
                {% if categories %}
                    <p><b>Categorías</b></p>

                    {% if featured_categories %}
                        {% for featured_category in featured_categories %}
                            <a href="{% url 'category' featured_category.slug %}">{{ featured_category }}</a>
                        {% endfor %}
                        <hr>
                    {% endif %}


                    {% recursetree categories %}
                        <li>
                            <a href="{% url 'category' node.slug %}">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                                <ul class="children">
                                    {{ children }}
                                </ul>
                            {% endif %}
                        </li>
                    {% endrecursetree %}

                {% endif %}



                <p><b>Filtros</b></p>

            </div>
            <div class="col-md-9">
                <h1>{{ page_title }}</h1>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aperiam, cupiditate earum eius,
                ipsam
                iure molestiae molestias nihil nobis officia provident quia veniam. Eligendi hic iste nihil officiis
                quas qui?
                <div class="col-md-12">
                    Productos destacados
                </div>
                <div class="col-md-12">
                    Productos por atributos
                </div>
                <div class="col-md-12">
                    Colecciones
                </div>
                <div class="col-md-12">
                    Recomendaciones personalizadas
                </div>
            </div>
        </div>
    </div>

{% endblock %}